includeConfig '../../conf/base.config'

params.scenario = 'success'
params.mitohifi_container = 'unused-in-local-test'
params.ncbi_api_key = null

process.executor = 'local'
process.beforeScript = "export PATH=${projectDir}/bin:\$PATH"

process {
    withName: 'MITOHIFI_FINDMITOREFERENCE' {
        ext.args = { "--test-attempt ${task.attempt}" }
    }
}
