/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CREATE_SAMPLESHEET {
        publishDir = [
            path: { "${params.outdir}/samplesheet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GETORGANELLE_FROMREADS {
        ext.args = '-R 10 -w 95 --continue'
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MITOHIFI_MITOHIFI {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/mtdna" },
            mode: params.publish_dir_mode
        ]
    }

    withName: EMMA {
        ext.args = '--rotate MT-TF'
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BLAST_BLASTN {
        ext.args = [
                '-outfmt "6 qseqid sseqid staxids sscinames scomnames sskingdoms pident length qlen slen mismatch gapopen gaps qstart qend sstart send stitle evalue bitscore qcovs qcovhsp"',
                '-num_alignments 999999',
                '-evalue 1',
                '-task blastn',
            ].join(' ')
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/lca" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LCA {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/lca" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FORMAT_FILES {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/genbank" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: BUILD_SOURCE_MODIFIERS {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/genbank" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                if (filename.equals('versions.yml')) return null
                return filename.startsWith('processed/') ? filename.minus('processed/') : filename
            }
        ]
    }

        withName: EXTRACT_GENES_GFF {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/genbank" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: TRANSLATE_GENES {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/genbank" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: GEN_FILES_TABLE2ASN {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/genbank" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    
}
